<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello World! (From the Test branch)</h1>
    <p><%= subTitle %></p>
  </body>
</html>
